body,
h1,
h2,
h5,
.nav-link {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

/* REINICIAR BOOTSTRAP STYLES */
.text-primary {
  color: #007acc !important;
}

.btn-primary {
  color: #fff;
  background-color: #007acc !important;
  border-color: #007acc !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
}

.bg-primary {
  background-color: #007acc !important;
}

.bg-secondary {
  color: #fff;
  background-color: #DBE0E41E !important;
  border-color: #dbe0e409 !important;
}

.badge {
  transform: scale(1.08);
  font-weight: 500;
}

/* CSS DE LA APP */

.navbar {
  backdrop-filter: saturate(180%) blur(5px);
  background-color: #161719;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-primary,
.btn-secondary {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

#header .navbar-brand img {
  height: 80px;
  border-radius: 50%;
}

#header h5 {
  font-size: 1.25rem;
}

#principal .btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

#principal .btn-outline-light:hover {
  background-color: #ffffff;
  color: #000000;
}

#principal h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: bold;
}

#principal h2 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

#principal h5 {
  color: #ffffff;
  margin-bottom: 2rem;
}

#projects {
  background-color: #161719;
}

#projects h5 {
  color: #fff;
}

#projects h4 {
  color: #fff;
}

#projects .card {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

#projects .card-img-top {
  object-fit: cover;
}

#projects .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#projects .card-title {
  font-size: 1.5rem;
}

#projects .card-text {
  font-size: 1rem;
}

#projects .badge {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#projects .btn-group .btn {
  background-color: transparent;
  color: #fff;
  border-color: #6c757d;
}

#projects .btn-group .btn:hover {
  background-color: #495057;
}

#projects .btn-group .btn:focus,
#projects .btn-group .btn:active {
  box-shadow: none;
}

#projectsContainer .col-lg-6 {
  display: flex;
}

#projectsContainer .card {
  display: flex;
  flex: 1;
}

#projectsContainer .card .row {
  flex-grow: 1;
}

#projectsContainer .card-img-top {
  width: 100%;
  border-radius: 0;
}

#projectsContainer .card-body {
  padding: 1.25rem;
}

#techStack {
  font-size: 2rem;
}

#certifications {
  background-color: #161719;
}

#certifications .certification-card {
  transition: box-shadow 0.3s ease;
}

#certifications .certification-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#certifications .certification-link {
  color: #fff;
  text-decoration: none;
}

#certifications .certification-link:hover,
#certifications .certification-link:focus {
  text-decoration: underline;
}

#skills .skill-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

#skills .skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

#footer {
  background-color: #161719;
}

#footer a {
  text-decoration: none;
}

#footer i {
  font-size: 1.5rem;

}

#footer a.text-secondary {
  color: inherit;
}

#footer a.text-secondary:hover {
  color: #ffffff;
}

@media (max-width: 991px) {
  #header .navbar-brand img {
    height: 60px;
  }

  #principal h1 {
    font-size: 2.5rem;
  }
}
